<div class="drawer" id="drawer">
<div class="drawer-top">
<img src="source-images/precise-laser-hair-logo-1-blue-649w.jpg" srcset="source-images/precise-laser-hair-logo-1-blue-320w.jpg 320w, source-images/precise-laser-hair-logo-1-blue-649w.jpg 649w" sizes="228px" width="649" height="427" alt="Precise">
<button class="drawer-x" data-on-click="closeDrawer()" aria-label="Close"><svg width="19" height="19" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.2" stroke-linecap="round"><path d="M18 6 6 18M6 6l12 12"/></svg></button>
</div>
<a class="dlink" href="/">Home</a>
<a class="dlink" href="/#about">About</a>
<a class="dlink" href="/#services">Services</a>
<a class="dlink" href="/self-assessment.html">Self-Assessment</a>
<a class="dlink" href="/client-intake.html">Client Intake</a>
<a class="dlink" href="/#reviews">Reviews</a>
<a class="dlink" href="/?open=contact">Contact</a>
<div class="drawer-foot">
<a class="btn btn-p" href="https://book.squareup.com/appointments/gs1i408ex6v4ly/location/LQD6Q4Z7MZVFG/services" target="_blank" rel="noopener">Book Now</a>
<a class="btn btn-o" href="tel:6319231174">Call (631) 923-1174</a>
</div>
</div>
